---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
          <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg'></script> -->

        </div>
        <!-- <a href='https://clustrmaps.com/site/1c6qh'  title='Visit tracker'><img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=m&d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg'/></a> -->
        <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg'></script> -->
      </article>

    </div>
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg'></script>

    {% include scripts.html %}

  </body>
</html>
