---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>

          <section class="page__clustrmaps">
            <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg&cl=ffffff&w=a"></script>
          </section>
        </div>
      </article>

      <!-- <footer class="page__footer">
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=m&d=I19TKA4qZEb455JCcgnYVT3nQ-LyZr0y9WTzZGyZsIg&cmo=7fd87c&cmn=ea7f21&co=2d78ad&ct=ffffff'></script>
      </footer> -->

    </div>

    {% include scripts.html %}

  </body>
</html>
